In [136]:
import pandas as pd
import mitosheet
import numpy as np
import random

In [127]:
df = pd.read_csv("pokemon_data.csv")
print(df.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [65]:
df2 = pd.read_csv("pokemon_data.txt", delimiter = "\t")

print(df2.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [66]:
df2.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [70]:
#
#df2.Name[:5]
df2[["Name", "HP"]]

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

In [72]:
df.iloc[0:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [181]:
#df[0:3:]
list = []
for row in df.iloc[0:5,4:10].iterrows():
    print(list.append(row))
    #return value in  a specific location
print(list)

None
None
None
None
None
[(0, HP         45
Attack     49
Defense    49
Sp. Atk    65
Sp. Def    65
Speed      45
Name: 0, dtype: int64), (1, HP         60
Attack     62
Defense    63
Sp. Atk    80
Sp. Def    80
Speed      60
Name: 1, dtype: int64), (2, HP          80
Attack      82
Defense     83
Sp. Atk    100
Sp. Def    100
Speed       80
Name: 2, dtype: int64), (3, HP          80
Attack     100
Defense    123
Sp. Atk    122
Sp. Def    120
Speed       80
Name: 3, dtype: int64), (4, HP         39
Attack     52
Defense    43
Sp. Atk    60
Sp. Def    50
Speed      65
Name: 4, dtype: int64)]

In [219]:
# for index, row in df.iterrows():
#     print(row['Name'], row)
# df = df.loc[df["Type 2"] == "Poison"]
# 
#df.loc[df["Type 2"].isnull()]
df = pd.read_csv("pokemon_data.csv")
array = df["Type 2"].unique()
b = str(array[1])
import re
#df.loc[df["Type 2"] != b]
# print(type(b))
array = [str(a).replace(b,"") for a in array]
array = [a for a in array if a != ""]
#df.loc[df["Type 2"].isnull(),["Type 2"]] = random.choice(array)
#df.loc[df["Type 2"].isnull()]
new_list = [str(word).replace(b,random.choice(array)) for word in df["Type 2"]]
    
df["Type 2"] = new_list
print(df.iloc[0:10,0:4])
#df["Type 2"] = df["Type 2"].fillna(random.choice(array))
# print(array)
#df.loc[df["Name"].str.contains("^pi[a-z]*",flags=re.I,regex=True)]

   #                       Name Type 1  Type 2
0  1                  Bulbasaur  Grass  Poison
1  2                    Ivysaur  Grass  Poison
2  3                   Venusaur  Grass  Poison
3  3      VenusaurMega Venusaur  Grass  Poison
4  4                 Charmander   Fire   Grass
5  5                 Charmeleon   Fire  Ground
6  6                  Charizard   Fire  Flying
7  6  CharizardMega Charizard X   Fire  Dragon
8  6  CharizardMega Charizard Y   Fire  Flying
9  7                   Squirtle  Water  Dragon

In [6]:
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "UUID-759882f1-1281-4778-8575-17a596f32aa3", "code": {"importsâ€¦

In [ ]:
from mitosheet import *; register_analysis('UUID-759882f1-1281-4778-8575-17a596f32aa3')

# Reordered Type 1 in df
df_columns = [col for col in df.columns if col != 'Type 1']
df_columns.insert(0, 'Type 1')
df = df[df_columns]

# Reordered Type 1 in df
df_columns = [col for col in df.columns if col != 'Type 1']
df_columns.insert(3, 'Type 1')
df = df[df_columns]

# Reordered Type 1 in df
df_columns = [col for col in df.columns if col != 'Type 1']
df_columns.insert(3, 'Type 1')
df = df[df_columns]

# Added column new-column-l3p1 to df
df.insert(1, 'new-column-l3p1', 0)

In [32]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['Type 1']:
    fig.add_trace(go.Histogram(x=df[column_header], name=str(column_header)))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title=str(0),
    title="Type 1 frequencies",
    barmode='group'
)
fig.show(renderer="iframe")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False